.contact {
    padding-top: 100px;
}

.contact h1 {
    border-bottom: 2px solid #cecece;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.section-title {
    border-bottom: 2px solid #cecece;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #cecece;
}

.contact-submit {
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

body {
    padding: 100px;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}